canvas.canvas {
    background-color: #404040;
    height: 300px;
    width: 300px;
}

.content {
    background: #130e32;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
    text-align: center;

    @media screen and (min-width: $viewportMobileLandscape) {
        padding:0 calc((100vw - 300px) / 2);
        width: 300px;
    }

    @media screen and (min-width: $viewportTablet) {
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        padding: 4rem 0;
        width: 80%;
    }

    @media screen and (min-width: $viewportTabletLandscape) {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .game-box {
        margin: auto;
    }
}
