body {
  background: #191341;
  height: 100%;
  width: 100vw;

  font-family: Arial, serif;
  font-size: 22px;
  line-height: 22px;

  touch-action: none;
}

nav.navbar {
  height: 1rem;
  margin: 0;
  padding: 0;
  width: 100%
}
