<div class="content orbiter">
<!--    <div class="config">-->
<!--        <p>Settings:</p>-->
<!--        <div class="config&#45;&#45;borders">-->
<!--            <label for="radius">Radius:</label>-->
<!--            <form>-->
<!--                <input type="text" id="radius" name="radius" placeholder="Radius" value="100" onsubmit="setCookie('radius', this.value, 7);">-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <div class="game-box">
        <canvas id="canvas" class="canvas orbiter" height="500" width="500"></canvas>
    </div>
</div>
