<div class="navigation">
  <div class="navigation-content">
    <div class="navigation--item home">
      <a href="/">HOME</a>
    </div>
    <div class="navigation--item home">
      <a href="/snake">SNAKE</a>
    </div>
    <div class="navigation--item home">
      <a href="/commands">COMMANDS</a>
    </div>
  </div>
</div>
