<div class="navigation">
  <div class="navigation-content">
      <a href="/">
        <div class="navigation--item nav-home">Home</div>
      </a>
      <a href="/snake">
        <div class="navigation--item nav-snake">Snake</div>
      </a>
      <a href="/commands">
        <div class="navigation--item nac-commands">Commands</div>
      </a>
      <a href="/orbiter">
        <div class="navigation--item nav-orbiter">Orbiter</div>
      </a>
  </div>
</div>
