<div class="navigation">
  <div class="navigation-content">
    <div class="navigation--item nav-home">
      <a href="/">Home</a>
    </div>
    <div class="navigation--item nav-snake">
      <a href="/snake">Snake</a>
    </div>
    <div class="navigation--item nac-commands">
      <a href="/commands">Commands</a>
    </div>
    <div class="navigation--item nav-orbiter">
      <a href="/orbiter">Orbiter</a>
    </div>
  </div>
</div>
