<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <title>TestGame</title>

    <% include ../../partials/header.ejs %>
</head>
<body id="body">
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        var expires = "expires" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        location.reload();
    }
</script>

<% include ../../partials/nav.ejs %>

<div class="content">
    <div class="config">
        <p>Settings:</p>
        <label>
            <span class="borders-title">Hard Borders:</span>
            <input type="checkbox" id="borders" onchange="setCookie('borders', this.checked, 14);">
        </label>
    </div>
    <div class="game-box">
        <canvas id="canvas" class="canvas" height="300" width="300"></canvas>
        <div class="control">
            <div class="control-top">
                <div class="control-panel topLeft"></div>
                <div id="Up" class="control-panel arrowUp">A</div>
                <div class="control-panel topRight"></div>
            </div>
            <div class="control-middle">
                <div id="Left" class="control-panel arrowLeft"><</div>
                <div class="control-panel middle"></div>
                <div id="Right" class="control-panel arrowRight">></div>
            </div>
            <div class="control-bottom">
                <div class="control-panel bottomLeft"></div>
                <div id="Down" class="control-panel arrowDown">V</div>
                <div class="control-panel bottomRight"></div>
            </div>
        </div>
    </div>
</div>

<% include resources/controls.ejs %>
<% include resources/snake.ejs %>
<% include resources/fruit.ejs %>
<% include resources/draw.ejs %>

</body>
</html>
