<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <title>TestGame</title>

    <% include ../../partials/header.ejs %>
</head>
<body id="body">
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        var expires = "expires" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        location.reload();
    }
</script>

<% include ../../partials/nav.ejs %>

<div class="content">
    <div class="game-box">
        <center>
            <canvas id="canvas" class="canvas" height="300" width="300"></canvas>
        </center>
    </div>

    <div class="config">
        <p>Settings:</p>
        <label>
            <span class="borders-title">Hard Borders:</span>
            <input type="checkbox" id="borders" onchange="setCookie('borders', this.checked, 14);">
        </label>
    </div>
</div>

<% include resources/snake.ejs %>
<% include resources/fruit.ejs %>
<% include resources/draw.ejs %>

</body>
</html>
