<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

    <% include ../../partials/header.ejs %>
</head>
<body id="body">

<% include ../../partials/nav.ejs %>
<% include resources/space.ejs %>
<% include resources/body.ejs %>
<% include resources/calculation.ejs %>
<% include resources/draw.ejs %>

</body>
</html>
