.content {
  background: #130e32;
  display: flex;
  flex-direction: column;
  padding:0 calc((100vw - 300px) / 2);
  text-align: center;

  @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-left: 20%;
      margin-right: 20%;
      padding: 4rem 0;
      width: 60%;
  }

  .game-box {
    margin: 2rem 0 3rem 0;
  }
}

.config {
  color: #eeeeee;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33%;
  }

  .config--borders, .config--drop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.control {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;

  .control-panel {
    color: #eeeeee;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    width: 100px;

    &.arrowUp, &.arrowLeft, &.arrowRight, &.arrowDown {
      background-color: #404040;
      border: 1px outset black;
      border-radius: 25px;
    }
  }

  &-top, &-middle, &-bottom {
    display: flex;
    flex-direction: row;
  }
}
