.config {
  color: #eeeeee;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33%;
  }

  .config--borders, .config--drop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.control {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;

  .control-panel {
    color: #eeeeee;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    width: 100px;

    &.arrowUp, &.arrowLeft, &.arrowRight, &.arrowDown {
      background-color: #404040;
      border: 1px outset black;
      border-radius: 25px;
    }
  }

  &-top, &-middle, &-bottom {
    display: flex;
    flex-direction: row;
  }
}
