<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

  <% include ../partials/header.ejs %>

</head>
<body id="body">

<% include ../partials/nav.ejs %>

<div class="content landingpage">
  <img class="landingpage--image" alt="Room" srcset="/img/landingpage/RoomMidFiner-min.png" src="/img/landingpage/RoomMidFiner-min.png">
</div>
</body>
</html>
