<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

  <% include ../partials/header.ejs %>

</head>
<body id="body">

<% include ../partials/nav.ejs %>
<img alt="TEST" srcset="RoomMidFiner.png" src="RoomMidFiner.png" class="landingpage">

<div class="content">
</div>
</body>
</html>
