<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/js; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
  <title>TestGame</title>

  <% include ../partials/header.ejs %>

</head>
<body id="body">
  <div class="content">

  <% include ../partials/nav.ejs %>

  <a href="snake">Play Snake</a>
</div>
</body>
</html>