.orbiter {
    flex-direction: row;
    margin: auto;
    margin-top: 0.01%;
    touch-action: manipulation;


    .game-box {
      margin: auto;
    }

    label, input {
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
    }

    canvas.canvas{
      background-color: #404040;
      height:  500px;
      width: 500px;
    }
}
