.content.orbiter {
    @media screen and (min-width: $viewportTablet){
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
    }

    @media screen and (min-width: $viewportDesktop) {
        height: auto;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .game-box {
        @media screen and (min-width: $viewportTablet){
            margin: 0;
            width: 100%;
        }
    }
}

.orbiter {
    flex-direction: row;
    margin: auto;
    margin-top: 0.01%;
    touch-action: manipulation;

    .game-box {
        margin: auto;
    }

    label, input {
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
    }

    canvas.canvas{
        background-color: #404040;
        height:  300px;
        width: 300px;

        @media screen and (min-width: $viewportTablet){
            width: 500px;
            height:  auto;
        }
    }
}
